<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sudheer</title>
</head>
<body>
    <center>
        <h1>calling to srujana...</h1>
            <h1>srujana..! thinnava ra........
        </h1>
        <h1> nannu vadhilesthunnava ra....</h1>
        <h1>proof lendhee proofuluuuu</h1>
        <a href="{% url 'srujana' %}" > response of srujana</a>
        <a href="{% url 'sudheer1' %}">response of sudheer1</a>

    </center>
</body>
</html>