<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sudheer1</title>
</head>
<body>
    <center>
        <h1>
            attettaaa mosam chesthaaave
        </h1>
        <h1> ni yammaaa..............</h1>
        <h1>siggulehdaaaa.........</h1>
        <a href="{% url 'srujana' %}" > response of srujana</a>
        <a href="{% url 'sudheer' %}">response of sudheer</a>
    </center>
</body>
</html>